@tailwind base;
@tailwind components;
@tailwind utilities;
html {
	font-size: 18px;
}
body {
	hyphens: auto;
	max-width:80ch;
	@apply text-justify font-sans mt-8 mb-0 px-4 mx-auto
}
ul, ol {
	@apply list-inside ml-4
}
ul li {
	@apply list-disc
}
ol li {
	@apply list-decimal
}
h1 {
	@apply text-5xl font-black
}
h1, h2, h3 {
	@apply text-left leading-none
}
.content h1 {
	@apply text-2xl
}
h2 {
	@apply text-3xl font-black
}
.content h2 {
	@apply text-xl font-bold
}
.content h3 {
	@apply text-lg font-bold
}
.content p, .content > ul, .content > ol, .content h1, .content h2, .content h3 {
	@apply block mt-4
}
hr {
	@apply border-black
}
pre, blockquote, figure {
	@apply border-l-8 ml-4 pl-4 my-4 border-black
}
figure {
	@apply text-center
}
figure > * {
	@apply m-auto
}
figcaption {
	@apply italic
}
.footnotes {
	@apply text-xs ml-4 text-left
}
.footnotes p {
	@apply mt-0 inline
}
