<!doctype html>
<html lang="en" class="no-js">

<head>
	<meta charset="utf-8">
	<script>
		document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'has-js ';
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.8.4/mermaid.min.js"
		integrity="sha512-as1BF4+iHZ3BVO6LLDQ7zrbvTXM+c/1iZ1qII/c3c4L8Rn5tHLpFUtpaEtBNS92f+xGsCzsD7b62XP3XYap6oA=="
		crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ renderData.description or description or metadata.description }}">
	<meta name="generator" content="Eleventy">
	<title>{{ renderData.title or title or metadata.title }}</title>
	<link rel="stylesheet" href="styles/index.css">
</head>

<body id="top" itemscope itemtype="http://schema.org/WebPage">
	<h1 class="-mb-4">
		<span>{{ renderData.title or title or metadata.title }}</span>
		<span>
			<a href="feed.xml" title="RSS is dead guys, give it up">
				<img class="inline" src="images/rss.png" alt="RSS icon" />
			</a>
			<a href="https://twitter.com/JoshuaStutter" title="Very infrequent here">
				<img class="inline" src="images/twitter.png" alt="Twitter icon" />
			</a>
			<a href="https://www.gla.ac.uk/pgrs/joshuastutter/" title="University of Glasgow PGR Profile">
				<img class="inline" src="images/uofg.png" alt="University of Glasgow icon" />
			</a>
		</span>
	</h1>
	<div class="mb-8 mt-4 text-sm">
		{{ content | safe }}
	</div>
	{% for post in collections.all| reverse %}
	{% if post.url != "/" and post.url != "/feed.xml" %}
	<hr />
	<article>
		<a href="#{{ post.fileSlug | slug }}" id="{{ post.fileSlug | slug }}">
			<h2>{{ post.data.title }}</h2>
		</a>
		<p class="text-xs mt-2"><i>{{ post.date }}</i></p>
		<div class="content mb-16">
			{{ post.templateContent | safe }}
		</div>
	</article>
	{% endif %}
	{% endfor %}
</body>

</html>
