---
permalink: "feed.xml"
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="0.91">
	<channel>
		<title>Joshua Stutter</title>
		<link>https://jstutter.netlify.app</link>
		<description>PhD researcher, University of Glasgow</description>
		<language>en-gb</language>
		{% for post in collections.all|reverse %}
			{% if post.url != "/" and post.url != "/feed.xml" %}
				<item>
					<title>{{post.data.title}}</title>
					<link>https://jstutter.netlify.app/#{{post.fileSlug | slug }}</link>
				</item>
			{% endif %}
		{% endfor %}
	</channel>
</rss>
