---
layout: layouts/base.njk
title: Joshua Stutter
description: A Blog about Joshua Stutter's PhD
---
PhD researcher, University of Glasgow.
<br/>
<i>‘A Modern Study of Thirteenth–Century Organa and Motet: The Clausula as
Fundamental Unit’</i>
